@font-face {
    font-family: 'Kodchasan';
    src: url('../fonts/kodchasan-extralight.eot');
    src: url('../fonts/kodchasan-extralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kodchasan-extralight.svg#Kodchasan') format('svg'),
    url('../fonts/kodchasan-extralight.woff2') format('woff2'),
    url('../fonts/kodchasan-extralight.woff') format('woff'),
    url('../fonts/kodchasan-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Kodchasan';
    src: url('../fonts/kodchasan-regular.eot');
    src: url('../fonts/kodchasan-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kodchasan-regular.svg#Kodchasan') format('svg'),
    url('../fonts/kodchasan-regular.woff2') format('woff2'),
    url('../fonts/kodchasan-regular.woff') format('woff'),
    url('../fonts/kodchasan-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light.eot');
    src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-light.svg#Montserrat') format('svg'),
    url('../fonts/montserrat-light.woff2') format('woff2'),
    url('../fonts/montserrat-light.woff') format('woff'),
    url('../fonts/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-lightitalic.eot');
    src: url('../fonts/montserrat-lightitalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-lightitalic.svg#Montserrat') format('svg'),
    url('../fonts/montserrat-lightitalic.woff2') format('woff2'),
    url('../fonts/montserrat-lightitalic.woff') format('woff'),
    url('../fonts/montserrat-lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular.svg#Montserrat') format('svg'),
    url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-italic.eot');
    src: url('../fonts/montserrat-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-italic.svg#Montserrat') format('svg'),
    url('../fonts/montserrat-italic.woff2') format('woff2'),
    url('../fonts/montserrat-italic.woff') format('woff'),
    url('../fonts/montserrat-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium.eot');
    src: url('../fonts/montserrat-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-medium.svg#Montserrat') format('svg'),
    url('../fonts/montserrat-medium.woff2') format('woff2'),
    url('../fonts/montserrat-medium.woff') format('woff'),
    url('../fonts/montserrat-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-mediumitalic.eot');
    src: url('../fonts/montserrat-mediumitalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-mediumitalic.svg#Montserrat') format('svg'),
    url('../fonts/montserrat-mediumitalic.woff2') format('woff2'),
    url('../fonts/montserrat-mediumitalic.woff') format('woff'),
    url('../fonts/montserrat-mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold.eot');
    src: url('../fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-semibold.svg#Montserrat') format('svg'),
    url('../fonts/montserrat-semibold.woff2') format('woff2'),
    url('../fonts/montserrat-semibold.woff') format('woff'),
    url('../fonts/montserrat-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-bold.svg#Montserrat') format('svg'),
    url('../fonts/montserrat-bold.woff2') format('woff2'),
    url('../fonts/montserrat-bold.woff') format('woff'),
    url('../fonts/montserrat-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}